@import '../../../common/common.scss';

.dp-back-button {
    height: 44px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;

    &--button {
        width: 50px;
        height: 100%;
        @include center-flex();
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        text-decoration: none !important;
    }

    &--title {
        height: 100%;
        @include center-flex();
    }
}

/*
This is an override of default Office Fabric UI Button styling.
*/ 
.ms-Button {
    min-width: 50px;
    max-width: 50px;
    background-color: #fff;
    border: none;
}

