@import '../../../common/common.scss';

.dp-value-placemat {
    @include flex();
    height: 100%;

    &__header {
        min-height: 250px;
        padding: $global-spacing $global-spacing 0;
        @include center-flex();

        &--logo {
            margin-bottom: 20px;
        }
    }

    &__content {
        padding: 0 $global-spacing $global-spacing;
        @include center-flex();

        &--value {
            text-align: center;
            padding-bottom: $global-spacing;
            max-width: 280px;
        }

        &--list {
            list-style: none;
            max-width: 280px;

            li {
                padding-bottom: $global-spacing;
                @include inline-flex(null, center);

                i {
                    padding-right: 5px;
                    font-size: 17px;
                }
            }
            
        }
    }
}
